# Intro to Python 

### Copyright by Solivarlabs

Python is easy to learn, understand and debug

Python is interpreted, that means

In [5]:
15 * 5 + 10 * 3

105

In [6]:
16384/1024

16.0

code is executed line by line. 

We don't need a main function or standard structure to run code in python.

## Install Python

Download and Install [Python Annaconda](https://www.anaconda.com/download/)

Open Anaconda Navigator > Launch Jupyter > New-Notebook-Python3

### What are we going to learn 

1. [First program](#First-Program)
2. [Variables and Types](#Variables-and-Types)
3. [Numbers and Math](#Numbers-and-Math)
4. Input from users
5. Passing parameters
6. File Operations
7. Functions, Parameters, Returns
8. Booleans
9. Indentation and Block of code
10. If elif else statement
11. Loops - For and While 
12. Lists
13. Dictonaries
14. Tuples and Sets
15. Strings

Additional Content:
Null --> None in Python
Conversion of Data types
List comprehension

# First Program

In [10]:
print("I want to learn Python")
print("I love programming")
print("This is the way to print to output in Python")

I want to learn Python
I love programming
This is the way to print to output in Python

### Try it #01
Now write a program which prints Hello to the world !!!<br>
(after typing the code , press Shift+Enter to run it)

In [ ]:
#Add your code here

# Variables and Types 

Variables are used to store & access data<br>
Most of the programs are targeted at processing data, in such programs we need to access store and output different kinds of data. <br>
Variables with specific Types are useful in such cases. Find examples below.

In [11]:

x = 10
y = 20 
print(x)
print(y)

10
20

In [16]:
#to know the type of a variable we will use type method as below
print("type of x is ",type(x))
a = 10.0
print("type of a is ",type(a))
b = "python"
print("type of b is ",type(b))
c = True
print("type of c is ",type(c))

type of x is  <class 'int'>
type of a is  <class 'float'>
type of b is  <class 'str'>
type of c is  <class 'NoneType'>

As you see variables are not tightly coupled with types, see below example on how a single variable will change types basing pn input value.

In [18]:
x = 10
print("type of x is ",type(x))
x = 2.3
print("type of x is ",type(x))
x = "sameVariableName"
print("type of x is ",type(x))
x = False
print("type of x is ",type(x))

type of x is  <class 'int'>
type of x is  <class 'float'>
type of x is  <class 'str'>
type of x is  <class 'bool'>

### Try it #02
Assign value 100 to a <br> 
Check the type of a <br>
Assign value a*2.3 to a <br>
Check the type of a <br>
Assign value "checkType" to a <br>
check the type of a <br>
try changing the value of a from int, float, string, boolean and verify types.

In [ ]:
#Add your code here

# Numbers and Math

Calculations are core part of Programing (Data processing) <br>
How many users registered today ? <br>
What is the final bill with shipping ? <br> 
Total number of Visitors to the website ?

In [22]:
#Registered: 15 users each in 8 centers
15*8

1035

In [82]:
#Final Bill: 4 items of 12, 26, 29, 32 each and Shipping of 20
12 + 26 + 29 + 32 + 20

119

## Lets learn few python operators we can use with numbers

### Arthmetic Operators

In [29]:
print("For given a =", a," For given b =", b)
# + # Addition operator
print("a+b = ",a+b)

# - # Substraction operator
print ("a-b = ",a-b)

# * # Multiplication operator
print ("a*b = ",a*b)

# / # Division operator
print ("a/b = ",a/b)

# % # Modulus operator
print ("a%b = ",a%b)

# // # Floor Division operator
print ("a//b = ",a//b)

# ** # Exponent operator
print ("a**b = ",a**b)

For given a = 25  For given b = 15
a+b =  40
a-b =  10
a*b =  375
a/b =  1.6666666666666667
a%b =  10
a//b =  1
a**b =  931322574615478515625

### Try it #03

Apply all arthimetic values on 23 and 4

In [ ]:
#Add your code here

### Comparission Operators

In [36]:
x = 10
y = 12

print("For given x =", x," For given y =", y)
# Output: x > y is False
print('x > y  is',x>y)

# Output: x < y is True
print('x < y  is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)
print("\n")

For given x = 10  For given y = 12
x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

### Try it #04

Apply all comparission operators on 1 and -1

In [ ]:
#Add your code here

### Logical Operators

In [39]:
x = 10
y = 20
z = 10
print("For given x =", x," For given y =", y," For given z =", z)

print('x > z and y > z is',x > z and y > z)

print('x > z or y > z is',x > z or y > z)

print('not x > z is',not x > z)
print("\n")

For given x = 10  For given y = 20  For given z = 10
x > z and y > z is False
x > z or y > z is True
not x > z is True

### Try it #05

Apply Logical Operators for a = True and b = False

In [ ]:
#Add your code here

### Bitwise Operators

Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit, hence the name.

For example, 2 is <i>010</i> in binary and 6 is <i>110</i>.

In [48]:
x = 2
y = 6

print("For given x =", x," For given y =", y)

# & # Bitwise And operator
print("x&y = ",x&y, " 010 & 110 = 010")

# | # Bitwise or operator
print("x|y = ",x|y, " 010 | 110 = 110")

# ^ # Bitwise Xor operator
print("x^y = ",x^y, " 010 ^ 110 = 010")

# ~ # Bitwise not operator
print("~x = ",~x, " ~ 010 = 101")

# >> # Bitwise Right Shift operator
print("x>>1 = ",x>>1, "010 >> 1 = 001")

# << # Bitwise Left Shift operator
print("x<<1 = ",x<<1, "010 << 10")
print("\n")

For given x = 2  For given y = 6
x&y =  2  010 & 110 = 010
x|y =  6  010 | 110 = 110
x^y =  4  010 ^ 110 = 010
~x =  -3  ~ 010 = 101
x>>1 =  1 010 >> 1 = 001
x<<1 =  4 010 << 10

### Try it #06

Create a table with rows 0 0, 0 1, 1 0, 1 1, 1, 0 and columns as &, |, ^, ~, >>, <<
Fill the table with results

### Assignment operator
We have already seen the assignment operator in above examples<br>
a = 25<br>
because of above statement variable a takes the value 25 and type int<br>

Similarly above Arthimetic and Bitwise operators can also be applied with assignment operator as shorter version as shown below

In [84]:
a = 25
b = 15

#Arthimetic and Bitwise operators along with Assignment
a *= 4
print("a *= 4 is ",a,"\n that is equal to a = a*4")

b **= 2
print("b **= 2", b,"\n that is equal to b = b**2")


a ^= 4
print("a ^= 4 is ",a,"\n that is equal to a = a^4")

b &= 2
print("b &= 2", b,"\n that is equal to b = b&2")

a *= 4 is  100
 that is equal to a = a*4
b **= 2 225
 that is equal to b = b**2
a ^= 4 is  96
 that is equal to a = a^4
b &= 2 0
 that is equal to b = b&2

### Identity Operators

is and is not are used to verify the type or class of variable as shown in the below example

In [61]:
x = 10
print("x value is ",x)
print(type(x) is int)
print(type(x) is float)
print(type(x) is str)

x = "python"
print("x value is ",x)
print(type(x) is not int)
print(type(x) is not float)
print(type(x) is not str)
print(type(x) is str)

x value is  10
True
False
False
x value is  python
True
True
False
True

### Membership operators

in and not in are used to find out if the x value is present in y<br>
Please check the examples below

In [80]:
x = 'a'
y = 'raja'
z = 'b'
print(x in y)
print(z not in y)

True
True

We will see more about membership operators along with Python datastructures.